.password-form {
    font-size: 1.2rem;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input[type="range"] {
    width: 100%;
    background: #4e9eff;
}


input[type="range"]:hover {
    background: #377fd1;
}

input[type="checkbox"] {
    transform: scale(1.2);
    accent-color: #4e9eff;
}

.password-input-container {
    font-size: 1rem;
}


@media screen and (min-width: 725) {
    .password-input-container {
        font-size: 1.4rem;
    }
}

.password-input-container label {
    margin-right: 1rem;
}

.checkbox-container label {
    color: #ccc;
    margin: 0 0.2rem;
    transition: color 0.3s ease;
}

input[type="checkbox"]:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}